/* block level element*/
div{
    border-style: solid;
    border-color: blue;
    border-width: 4px;
}
  /*inline element*/
span{
  border-style: solid;
  border-color: brown ;
  border-bottom: 4px solid green;


 /* padding-right: 40px;*/
  /*padding-bottom: 40px;*/
  padding: 20px 40px 30px  50px;

  margin: 40px;
}